/* Thai.css */
.Thai {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px 20px;
    padding-bottom: 30px;
    left:15%;
    width: 66%;
    top: 31px;
    margin-left: 3vw;
}

.container-thai {
    width: 100%;
    background-color: rgb(197, 197, 197);
    border-radius: 8px;
    position: relative;
    top: 40px;
    padding-bottom: 40px;
}

.ThaiItem {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 25%;
}

.ThaiItem:hover {
    transform: scale(1.05);
}

.ItemImage, .HoverImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    position: relative;
}

.ItemDetails h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3.5em;
    margin: 2px;
    padding: 2px;
    color: white;
    text-shadow: rgb(232, 101, 195) 2px 3px;
}

.PopUpDetails {
    /* display: flex; */
    text-align: center;
    margin: 2px;
    padding: 2px;
    color: rgb(215, 215, 215);

}

.HoverImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ThaiItem:hover .HoverImage {
    opacity: 1;
}

.ThaiPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.ImageContainer {
    position: relative;
    display: flex;
    width: 59%;

}

.PopupContent {
    width: 60%;
    height: 75%;
    background-color: white;
    border-radius: 8px;
    display: flex;
}

.ThaiPopup .PopupImage {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}