.sidebar {
	position: relative;
	top: -1.2px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: content-box;
	gap: 7%;
	height: 50px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	scroll-behavior: smooth;
	width: 100%;
}
.sidebar::-webkit-scrollbar {
	width: 10px;
	height: 4px;
	top: 3px;
	background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 19px;
}

.sidebar::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

.nav-link {
	position: relative;
	text-decoration: none;
	letter-spacing: 0.0892857143em;
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-link.active {
	color: #d965c6;
	cursor: default;
}

.nav-link:last-child {
	padding-right: 3%;
}

.nav-link:first-child {
	padding-left: 3dvw;
}

.cart-button {
	width: 12%;
	background-color: #233748;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.cart-button img {
	height: 32px;
}

.sidebar-container {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	position: relative;
	margin: auto;
	width: 100%;
}

.left-arrow, .right-arrow {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10;
	border: 1px solid #e1e1e1;
	opacity: 0.5;
  }
  
  .left-arrow {
	left: 0;
  }
  
  .right-arrow {
	right: 0;
}

@media screen and (max-width: 528px) {
	.nav-link {
		font-size: .71rem;
	}

	.left-arrow, .right-arrow {
		width: 23px;
	}
}

@media screen and (max-width: 800px) {
	.nav-link:first-child {
		padding-left: 10%;
	}
}