.social-proof {
    display: flex;
    justify-content: space-evenly;
    gap: 9%;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proof-item {
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: row;
}

.social-proof img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.proof-link {
    text-decoration: none;
    font-size: 1.13rem;
}