/* Home.css */

body {
    background-color: #000000c2;
}

.menu-h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #e1e1e1;
    font-weight: 700;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 45%;
}

.menu-title-container {
    display: flex;
    justify-content: center;
}

.MenuTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 3em;
    gap: 11%;
    margin: 10 2.6% 0 2.6%;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.partners img {
    width: 70px;
}

.partner.last img{
    border-radius: 11px;
}

.contact-button:hover {
    background-color: #dd61af;
    transform: scale(1.25);
}

.contact-button {
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    padding: 10 19px 10 19px;
    font-size: 2rem;
    /* border: solid 1px black; */
    border-radius: 12px;
    background-color: #d60b76;
    color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 50px;
    bottom: 64px;
}

.delivery-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    width: 43%;
    background-color: #201a27;
    color: #edb8da;
    border-radius: 25px;
    box-shadow: 0 8px 10px rgba(96, 38, 189, 0.59);
}

.delivery {
    text-align: center;
    font-size: 1.2rem;
}

.sub-menu {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px 0 10px;
}

.main-container {
    margin: auto;
    border-radius: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

.main-container::-webkit-scrollbar {
    width: 0em;
}

.section {
    scroll-snap-align: start;
    padding: 0 11px;
}

.section.home {
    font-family: 'Montserrat', sans-serif;
    color: rgb(76, 86, 86);
    font-size: 1vw;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
    height: 100%; /* Assure que la section prend 100% de la hauteur de l'écran */
    /* position: relative; Pour que l'élément ::before fonctionne correctement */
    overflow: hidden;
}

.section.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1;
    animation: slideshow 60s infinite;
}

@keyframes slideshow {
    0% {
        background-image: url("/public/Jap/P1-1.jpg");
        transform: scale(1);

    }
    24.99% {
        background-image: url("/public/Jap/P1-1.jpg");
        transform: scale(1.3);
    }
    25% {
        background-image: url("/public/Jap/P6-1.jpg");
        transform: scale(1);

    }
    49.99% {
        background-image: url("/public/Jap/P6-1.jpg");
        transform: scale(1.3);
    }
    50% {
        background-image: url("/public/Thai/mi-prat-1.jpg");
        transform: scale(1);

    }
    74.99% {
        background-image: url("/public/Thai/mi-prat-1.jpg");
        transform: scale(1.3);
    }
    75% {
        background-image: url("/public/Thai/chicken-dynamite-2.jpg");
        transform: scale(1);

    }
    99.99% {
        background-image: url("/public/Thai/chicken-dynamite-2.jpg");
        transform: scale(1.3);
    }
    100% {
        background-image: url("/public/Starters/tempuras.jpg");
        transform: scale(1);

    }
}

.deco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.deco-img {
    width: 10%;
    margin: 0 0 200px 0;
    filter: drop-shadow(0 4px 9px rgba(61, 32, 204, 0.5));
}

@keyframes slide-up {
    0% {
        transform: translateY(35px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.phrase-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: 45px 0;
    text-align: center;
}

.impact-phrase {
    letter-spacing: 3px;
    font-family: 'Montserrat';
    width: 75%;
    backdrop-filter: blur(3px);
    background-color: #2626287b;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    font-size: 3.5rem;
}

.slider {
    opacity: 0; /* Masquer l'élément par défaut */
    transition: opacity 0.5s ease; /* Transition pour l'apparition */
}

.slider.visible {
    opacity: 1; /* Rendre visible quand la classe 'visible' est ajoutée */
    animation: slide-up 0.5s ease forwards; /* Jouer l'animation */
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
    color: #e1e1e1;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 0;
}

.text {
    /* background-color: #dd61b074; */
    padding: 0 10px;
    backdrop-filter: blur(3px);
    letter-spacing: 5px;
}

.menu-link-pdf {
    font-size: 2.2rem;
    color: #e70b96;
    /* text-decoration: none; */
}

.menu-pdf {
    font-size: 2rem;
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
}

.scrollbar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    animation: bounce 1s infinite; /* Ajout de l'animation */
}

.down-arrow {
    height: 105px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Position initiale */
    }
    50% {
        transform: translateY(10px); /* Déplacement vers le bas */
    }
}

@media screen and (max-width: 1000px) {

    .contact-button {
        bottom: 28px;
    }

    .sub-menu {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .menu-h1 {
        font-size: 2.5em;
        width: 100%;
    }

    .MenuTitle {
        font-size: 2.5em;
        gap: 5%;
    }

    .menu-pdf {
        font-size: 1rem;
    }

    .menu-link-pdf {
        font-size: 1.2rem;
    }

    .delivery-section {
        width: 100%;
    }

    .contact-button {
        right: auto;
        font-size: 1.5rem;
    }

    .contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partner img {
        flex-wrap: wrap;
        width: 3rem;
        justify-content: space-evenly;
    }
    
    .impact-phrase {
        font-size: 2rem;
    }
}

@media screen and (max-width: 568px) {
    .sub-menu {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .delivery {
        font-size: 1.13rem;
        margin-bottom: 5px;
    }

    .section.home {
        justify-content: center;
    }

    .impact-phrase {
        font-size: 1.52rem;
    }
    
    .welcome {
        font-size: 1rem;
    }

    .deco-img {
        width: 20%;
        margin: 0 0 100px 0;
    }

    .menu-pdf {
        width: 100%;
        font-size: 1.2rem;
    }

    .menu-link-pdf {
        font-size: 1.4rem;
    }

    .delivery-section {
        width: 100%;
    }

    .contact-button {
        right: auto;
        font-size: 1.5rem;
        bottom: 20px;
    }

    .contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partner img {
        flex-wrap: wrap;
        width: 3rem;
        justify-content: space-evenly;
    }

    .partners {
        gap: 30px;
    }
}