.best-sellers-item {
    background: linear-gradient(to top, rgba(86, 86, 86, 0.09), rgba(21, 21, 1, 0.223));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-between;
    font-family: "Roman Morrissey DEMO";
    position: relative;
    backdrop-filter: blur(5px);
    /* padding: 20px; */
    margin: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.best-sellers {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20;
    border-radius: 15px;
    justify-content: space-evenly;
}

.best-sellers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 22px 0;
}

.best-sellers h2 {
    font-size: 3em;
    font-weight: 700;
    color: #3A4E48;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 5px;
}

.best-sellers h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 11px;
}

.best-sellers-items {
    display: flex;
    justify-content: space-around;
    row-gap: 35px;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0px 20%;
}

.image-container {
    position: relative;
    animation: translate(-31px) ease-in;
    scale: 1.2;
    padding: 0 0 50px 0;
}

.best-seller-img {
    width: 100%;
    border-radius: 8px;
}

.new-best {
    width: 80%;
    position: absolute;
    right: -50px;
    transform: rotate(21deg);
}

.text-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-end;
}

.text-box p {
    color: #ffffff81;
    /* margin: 0; */
    font-family: 'ShadowsIntoLight-Regular';
    font-size: 1.2rem;
    /* height:11dvh; */
}

.text-box h1 {
    width: 50%;
    margin: 0;
}

.price {
    margin-top: 10px;
}

.like-button .heart-icon {
    height: 100px;
    width: 100px;
    background: url("../../public/heart.png") left;
    cursor: pointer;
    position: absolute;
}

.like-button .heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
    to {
        background-position: right;
    }
}

.like-button .heart-bg {
    background: rgba(255, 243, 245, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.like-button .heart-bg:hover {
    background: rgba(249, 219, 223, 0.347);
}

.like-button {
    display: flex;
    align-items: center;
}

.like-button .likes-amount {
    font-size: 0.72em;
    color: #fff;
    font-weight: 900;
    margin-left: 6px;
}

@media screen and (max-width: 1200px) {
    .best-sellers-items {
        margin: 0px 10%;
    }

    .best-sellers h2 {
        font-size: 2.5em;
    }

    .best-sellers h3 {
        font-size: 1em;
    }

    .best-sellers-item {
        width: 75%;
    }
    
}