.best-sellers-item {
    background: linear-gradient(to top, rgba(86, 86, 86, 0.09), rgba(21, 21, 1, 0.223));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 13%;
    justify-content: space-between;
    font-family: "Roman Morrissey DEMO";
    position: relative;
    backdrop-filter: blur(5px);
    /* padding: 20px; */
    margin: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.best-sellers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20;
    /* background-color: #FFEFCD; */
    border-radius: 15px;
    width: 98.4%;
    justify-content: space-evenly;
}

.best-sellers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 22px 0;
}

.best-sellers h2 {
    font-size: 3em;
    font-weight: 700;
    color: #3A4E48;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 5px;
}

.best-sellers h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 11px;
}

.best-sellers-items {
    display: flex;
    justify-content: space-around;
    height: 100%;
    row-gap: 35px;
}

.image-container {
    position: relative;
    top: -31;
    scale: 1.2;
}

.best-seller-img {
    width: 100%;
    border-radius: 8px;
}

.text-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-end;
}

.text-box p {
    color: #ffffff81;
    /* margin: 0; */
}

.text-box h1 {
    width: 50%;
    margin: 0;
}

.price {
    margin-top: 10px;
}

.like-button .heart-icon {
    height: 100px;
    width: 100px;
    background: url("../../public/heart.png");
    background-position: left;
    cursor: pointer;
    position: absolute;
}

.like-button .heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
    to {
        background-position: right;
    }
}

.like-button .heart-bg {
    background: rgba(255, 243, 245, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.like-button .heart-bg:hover {
    background: rgba(249, 219, 223, 0.347);
}

.like-button {
    display: flex;
    align-items: center;
}

.like-button .likes-amount {
    font-size: 0.72em;
    color: #fff;
    font-weight: 900;
    margin-left: 6px;
}
