.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #8958ce;
    border-radius: 8px;
    justify-content: space-between;
    gap: 5%;
    height: 74dvh;
}

.text-about {
    width: 65%;
}

.video-promo {
    width: 35%;
}

.top-section {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Si vous voulez de l'espace entre les deux sections */
    margin-bottom: 1rem;
}

.delivery-links {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    background-color: #58b1ce;
    column-gap: 19px;
}

.about-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 19px;
}

.about-links a {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    filter: blur(0);
    transform: scale(1.2);
    margin: 0.5rem;
    text-decoration: none;
}

.about-links img {
    object-fit: cover;
    border-radius: 10px;
    width: 54px;
    height: auto;
}

.about-title {
    width: 220px;
}

.about-info {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.map-container {
    background-color: #68ce58;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.map-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.video-promo {
    max-width: 600px; /* Ajustez la largeur selon votre design */
    margin: auto;
    width: 250px;
}

.video-promo video {
    width: 100%; /* Les vidéos rempliront la largeur du slide */
    height: auto; /* Garder l'aspect ratio de la vidéo */
    outline: none;
}

/* Personnalisation des dots */
.video-promo .slick-dots li button:before {
    color: white;
}

.video-promo .slick-dots li.slick-active button:before {
    color: black;
}
  
.google-reviews {
    width: 100%;
}