.MenuItem {
    position: relative;
    overflow: clip;
    border-radius: 8px;
    cursor: pointer;
    width: 25%;
    height: min-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.MenuLink {
    position:relative;
    display: flex;
    text-decoration: none;
}

.MenuItemImage {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    filter: blur(2px);
    transform: scale(1);
}

.MenuItem:hover .MenuItemImage {
    filter: blur(0);
    transform: scale(0.9);
}

.TextOverlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    gap: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.MenuLink:hover .TextOverlay {
    opacity: 1;
}

.heading {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: rgb(72, 82, 220);
    text-shadow: #c4a219 2px 2px;
}

.TextOverlay p:not(.heading) {
    font-size: 1.6em;
}

.TextOverlay p:last-child {
    color: #6145e0;
    font-weight: 600;
}

.MenuContainer {
    position: relative;
    top: 40px;
    display: flex;
    gap: 16px;
    align-items: stretch
}
