.title {
    font-family: cursive;
    font-size: 2.3rem;
    margin-top: 12px;
    padding-bottom: 12px;
    color: #fff;
}

.MenuLink {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 80%;
    margin-bottom: 20px; /* Ajoute un espacement entre les éléments */
}

.MenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Assure que l'image et le texte se placent de chaque côté */
    padding: 0 100px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.MenuItem.left {
    flex-direction: row; /* Image à gauche, texte à droite */
}

.MenuItem.right {
    flex-direction: row-reverse; /* Image à droite, texte à gauche */
}

.MenuItemImage {
    width: 51%;
    object-fit: cover;
    border-radius: 8px;
}

.MenuItemText {
    /* background-color: #f3dbea; */
    padding: 20px;
    font-size: 1.5rem;
    color: #fff;
    height: 100%;
    border-radius: 8px;
    width: 400px;
    display: flex;
    align-items: center;
    font-family: 'Philosopher-Regular';
}

.TextOverlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    gap: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.MenuLink:hover .TextOverlay {
    opacity: 1;
}

.TextOverlay p:not(.heading) {
    font-size: 1.6em;
}

.TextOverlay p:last-child {
    color: #6145e0;
    font-weight: 600;
}

.MenuContainer {
    position: relative;
    justify-content: space-evenly;
    /* height: 77vh; */
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    /* .menu-list>* {
        flex: 0 0 40%;
    } */

    .MenuContainer {
        justify-content: flex-start;
        row-gap: 45px;
    }

    .sub-menu {
        gap: 35px;
    }
    
}

@media screen and (max-width: 768px) {
    .MenuItem.left {
        flex-direction: column; /* Image à gauche, texte à droite */
    }
    
    .MenuItem.right {
        flex-direction: column; /* Image à droite, texte à gauche */
    }
    
}

@media (max-width: 568px) {
    .sub-menu {
        gap: 25px;
    }
    .menu-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px;
    }

    .MenuItem {
        margin-bottom: 12px;
        padding: 0;
    }

    .menu-list>* {
        flex: 0 0 40%;
    }

    .MenuItemImage {
        width:75%;
    }

    .title {
        font-size: 1.5rem;
    }

    .TextOverlay p:not(.heading) {
        font-size: 1.2em;
    }

    .TextOverlay p:last-child {
        font-size: 1.2em;
    }

    .MenuContainer {
        row-gap: 0px;
        /* justify-content: flex-start; */
    }
}

