/* Topbar.css */
.topbar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 15px;
    transition: transform 3s ease-in-out;
}

.topbar img {
    width: 160px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.navigation-links {
    display: flex;
    gap: 15%;
    padding-top: 25px;
    justify-content: space-around;
}

.navigation-links a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 2em;
}

.navigation-links a:hover {
    color: #007bff;
}
