/* Topbar.css */
.topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.24); /* Léger effet d'ombre */
    backdrop-filter: blur(5px); /* Flou de l'arrière-plan */
    top: 0;
    left: 0;
    z-index: 99;
    position: sticky;
}

.menu-deroulant {
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
    right: 25px;
    position:sticky;
}

.logo img {
    width: 110px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* margin-left: 35px; */
}

.logo img:hover {
    transform: scale(1.1); /* Agrandir légèrement au survol */
}

.navigation-links {
    display: flex;
    gap: 5rem;
}

.navigation-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s ease;
}

.navigation-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e70b96;
    transition: width 0.4s ease;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transform-origin: center; /* Point de départ au centre */
}

.navigation-links a:hover::after {
    width: 100%; /* Effet de soulignement */
}

.navigation-links a:hover {
    color: #e70b96;
}

.order-button {
    background-color: #d60b76;
    font-size: 1.35rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    /* margin: 0 40px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.order-button:hover {
    background-color: #ff007f;
    transform: scale(1.05); /* Légère expansion au survol */
}

@media screen and (max-width: 890px) {
    .navigation-links {
        width: 100%;
        justify-content: space-evenly;
        gap: 1.82rem;
    }

    .topbar img {
        width: 80px;
    }

    .topbar {
        height: 105px;
    }
    .navigation-links a {
        font-size: 2.3dvw;
    }

    .order-button {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .topbar {
        height: 80px;
        justify-content: space-between;
    }

    .navigation-links {
        display: none;
    }

    .menu-deroulant {
        display: contents;
    }

    .menu-deroulant img {
        width: 32px;
        margin-right: 40px;
        cursor: pointer;
    }

    .navigation-links a {
        display: block;
        padding: 10px 20px;
        text-align: center;
    }
    
}
